.Nav-btn{
    margin-left: 40px !important;
    text-decoration: none;
}

.sub-head{
    color:#0080ff;
    font-size: 2vw;
}

//verticle line
// .vl {
//     border-left: 1px solid black;
//     height: 80px;
//   }