.Nav-btn{
    margin-left: 40px !important;
    text-decoration: none;
}

.sub-head{
    color:#0080ff;
    font-size: 32px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.sub-head-mb{
    color:#0080ff;
    font-size: 12px;
    text-align: center;
}

.nav-pad{
    padding: 1px;
    text-align: end;
    top:10;
    margin-top: 12px;
}

.center-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.px-0{
padding: 0px !important;
margin: 0px !important;
}